@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-cyanText: #04B4FC;
    --color-nameGrey: #404040;
    --color-footerGrey: #767676;
    --color-unimportant: #565656;
    --color-sideBarGrey: #83899F;
    --color-inactiveGrey: #9CA0B2;
    --color-statTileSvgBg: #DBEAFE;
    --color-someBlueColor: #101828;
    --color-statTileDescText: #6A7282;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-content {
    @apply flex-1 overflow-auto
}

/* Ensure the sidebar takes full height */
.sidebar {
    height: 100vh;
}

.navBar {
    @apply flex h-20 w-full py-5 px-[3.94rem] justify-between items-center mb-[1.3125rem]
}

.searchBox {
    @apply flex w-full h-16 border-cyanText rounded-[10px] border-[1px] p-5 items-center my-[1.375rem] mr-[12.375rem]
}

.pharmacyNotificationsTile {
    @apply flex h-[4rem] gap-x-[1.825rem] items-center justify-start min-w-[17.1875rem]
}

.sideBar {
    @apply flex flex-col h-full w-[17.5rem]
}

.statTile {
    @apply flex rounded-2xl shadow-sm py-[0.2rem] px-[1.5rem] h-[6.75rem] w-[12.875rem]
}

.statTileRow {
    @apply flex gap-x-[4.6875rem] mt-[2.8125rem]
}